[Unit]
Description=Daily update of dctrl.ca DNS record

[Timer]
OnCalendar=0/2:00:00
Persistent=true
Unit=do_dns.service
RandomizedDelaySec=10m

[Install]
WantedBy=timers.target
